.interactive {
    background-color: #f3f2ee;
}

.options {
  float: left;
  margin-left: 3em;
  margin-right: 3em;
}

.ball-options {
  margin-top: 0;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ball {
  border-radius: 50%;
  width: 5em;
  height: 5em;
  cursor: pointer;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: 7em;
}

.jar-ball {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  float: left;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: 35px;
  transform: rotate(180deg);
}

@media (max-width: 760px) {
  .ball-options {
    display: block;
  }
}